
.container {
    height: 100vh;
    width: 250px;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    display: flex;
}

.wrapper_alphabet {
    width: 30px;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    border-right: 1px solid #fff;
    height: 100%;
    user-select: none
}

.wrapper_alphabet::-webkit-scrollbar {
    display: none;
}

.list_alphabet {
    width: 100%;
}

.list_alphabet>li {
    padding: 4px 0;
    height: 26px;
    box-sizing: content-box;
    cursor: pointer;
    font-weight: thin;
    opacity: .8;
}

