@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #938671;
  overflow: hidden;

}

a {
  text-decoration: none;
  color: #333;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.App {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.wrapper_option {
  position: absolute;
  bottom: 10px;
  right: 260px;
  width: 35px;
}

.list_option>li div {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 35px;
    height: 35px;
    margin-top: 10px;
    cursor: pointer;
}

.list_option>li div:active {
  opacity: .7;
}

.login {
  position: absolute;
  right: 60px;
  bottom: 2px;
  cursor: pointer;
  width: 50px;
}

.btn_change_screen {
  position: fixed;
  width: 29px;
  height: 29px;
  cursor: pointer;
  top: 10px;
  left: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}
